<div class="row">
    <div class="col">
        <div class="categorias-container">
            <div class="form-group">    
                <select class="form-control" id="inputGroupSelect01" (change)="Categoria()" [(ngModel)]="seleccionado">
                    <option selected>Categorias...</option>                              
                    <option [value]="categoria.idCategoria" *ngFor="let categoria of listCategories" >{{categoria.nombre}}</option>                              
                </select>
            </div>         
        </div>
    </div>
</div>


