<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="login-container">
          <input class="form-control" type="text" [(ngModel)]="username">
          <input class="form-control" type="password" [(ngModel)]="password">
          <br>
          <button class="btn btn-success" (click)="login()">Login</button>
          <br>
          <button class="btn btn-success" (click)="Register()" >Registrarse</button>
        </div>
      </div>
    </div>
  </div>