
    <div class="row">
        <div class="col">
            <div class="register-container">
                <div *ngIf="!logged">
                    <h3>Registro</h3>                                 
                </div> 
                <div *ngIf="logged">
                    {{currentUser}}   
                    <button type="button" class="btn btn-outline-info" (click)="desactivarCuenta()">Desactivar cuenta</button>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Usuario" [(ngModel)]="userName"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="user"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Apellido" [(ngModel)]="apellido"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="DNI" [(ngModel)]="dni"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="pass"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Direccion" [(ngModel)]="direccion"> 
                    </div>
                    <div class="input-group">
                        <span >Foto</span>
                        <input class="form-control-file" type="file" name="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" >                                     
                    </div>
                    <div class="form-group">
                        <img [src]="base64textString[0]" style="width: 150px;"/>   
                    </div>
                </div>                
                <div class="buttons">
                    <button class="btn btn-danger" (click)="salir()"> Cancelar</button>  
                    <button class="btn btn-success" (click)="save()"> Guardar</button>
                </div> 
            </div>
        </div>
    </div>

