.container-ranking{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;   
}
.like{
   display: flex;   
   align-items: center;
}

.card-footer{
   display: flex;
   flex-direction: row;
}