.addrecipe-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.title {
   align-self: center;
   justify-self: center;
}


:-moz-placeholder {
    color: #808080;
    text-align: center;

 }
 .image{
  // position: relative;
   width: 100px;
 }
 .recipe-image-placeholder{
  // background-image: url(/packs/media/images/blank-e2efb11…-1.png);
   background-size: cover;
   min-height: 50px;
 }
.image-uploadplace{
   padding-top: 80px;
   background: #ecece9;
}
.text-tertiary {
   color: #939290;
}

.image-upload{
   position: absolute;
   top: 20px;
   right: 0;
   margin: 0;
   opacity: 0;
   filter: alpha(opacity=0);
   transform: translate(-300px) scale(3);
   width: 70px;
 }
 
