
<div class="container-filter">                                     
    <div class="ingredient">
        <input type="text"  class="form-control" placeholder="Ingredientes..."[(ngModel)]="ingrediente" >                                                      
                           
    </div>                          
    <div class="view-ingredient">   
              
            <div *ngFor="let ingredient of listIngrediente">        
                <div class="flotante">                                                     
                    {{ingredient.ingrediente}} <strong class="mr-auto">  </strong>                   
                    <button type="button" class="close" data-dismiss="alert" (click)="Delete(ingredient.ingrediente)">×</button>                              
                </div>          
            </div>        
          
    </div>
    <button type="button" class="btn btn-outline-secondary" (click)="Agregar()" >+</button>         
</div>
