<div class="row">
    
    <div class="container-cargastep">  
        <div class="row">
         <div class="col">
            <br>
            <h4><strong> Pasos</strong></h4>
            <hr>
         </div>   
        </div>
        <div class="row">
            <div class="col">
                <div class="container-imagen">
                    <div *ngFor="let i of [0,1,2];let j=index">
                        <div class="imagenload">
                            <label for="idimagen" >
                                <svg *ngIf="!(listFoto[i])" width="70px" height="70px" viewBox="0 0 16 16" class="bi bi-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z"/>
                                    <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                                    <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                </svg>                                 
                                
                                <img [src]="listFoto[i]" class="img-thumbnail" *ngIf="(listFoto[i])"/>   
                            </label>
                            <input class="" type="file" id="idimagen" name="file" aria-label="Añadir foto" accept=".png, .jpg, .jpeg"  (change)="onUploadChange($event,j)">    
                        </div>             
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col">
                <div class="" data-field="textarea" data-maxlength="500" data-dir-attribute="auto">
                    <textarea rows="4" placeholder="Descripcion..." maxlength="500" dir="auto" style="width: 100%;  outline: none; resize: none; " [(ngModel)]="descripcion"></textarea>
                </div>
            </div>
        </div>  
        <div class="row">
           <div class="col">
                <button class="btn btn-primary" (click)="AddStep()">Añadir un paso</button> 
           </div>           
        </div>
    </div>
    <br> 
    <div *ngIf="listPasos && listPasos.length > 0">
        <div *ngFor="let step of listPasos;let i=index">   
            <div class="flotante">  
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                    {{i+1}}    <button type="button" class="close" data-dismiss="alert" (click)="deletestep(step.step)">×</button>                                          
                    <div class="row">
                        <div class="col">
                            <div class="container-imagen">
                                <div *ngFor="let i of [0,1,2];let j=index">
                                    <div class="imagenload">                                                                                                                  
                                        <img [src]="listFoto[i]" class="img-thumbnail" *ngIf="(listFoto[i])"/>                                       
                                    </div>             
                                </div>
                            </div>
                        </div>
                    </div>                              
                    </div>
                    <div class="col-md-1"></div>
                </div>              
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">   
                        <div class="" data-field="textarea" data-maxlength="500" data-dir-attribute="auto">
                            {{step.descripcion}}
                        </div>
                    </div>
                    <div class="col-md-1"></div>  
                </div>       
            </div>
        </div>
    </div>
</div>

