
    <div class="viewrecipecontainer">
        <div class="viewrecipe-item" *ngFor="let receta of listReceta">
            <div class="container-info">
                <h2 class="center">{{receta.titulo}}</h2>
                <h6> Categoria: {{receta.categoria}} </h6>
                <div class="container-image">
                    <img [src]="receta.urlReceta" class="img-fluid" />
                </div>
            </div>            
            <div class="container-ingredients">
                <div class="ingredient" *ngFor="let ingrediente of listIngredientes">
                    <span class="badge badge-pill badge-light">{{ingrediente.nombre}} {{ingrediente.cantidad}} {{ingrediente.umedida}}</span>
                </div>                
            </div>
            <div class="container-steps">
                <div class="step-item" *ngFor="let step of listPasos;let i=index">
                   <span class="step-number">{{i+1}}</span> 
                    <div class="container-image-steps">
                        <div class="foto" *ngFor="let foto of step.fotos">
                            <img [src]="foto.urlFoto" class="img-fluid" />
                        </div>                        
                    </div>
                    <div class="step-desc" data-field="textarea" data-maxlength="500" data-dir-attribute="auto">
                       <h5>{{step.descripcion}}</h5>
                    </div>
                </div>
            </div>            
        </div>
        <!-- <div class="row">
                <div class="col">
                <h5>Ingredientes:</h5>
                    <div *ngIf="listIngredientes && listIngredientes.length > 0">
                        <div *ngFor="let ingrediente of listIngredientes">                   
                        <div class="flotante"> 
                            <span class="badge badge-pill badge-light">{{ingrediente.nombre}} {{ingrediente.cantidad}} {{ingrediente.umedida}}</span>   
                        </div>
                        </div>   
                    </div>  
                </div>    
            </div>         
            <h4><strong> Pasos</strong></h4>   
            <div *ngIf="listPasos && listPasos.length > 0">
                <div *ngFor="let step of listPasos;let i=index">                   
                    <div class="row">                            
                        {{i+1}}                                                           
                        <div *ngFor="let foto of step.fotos" class="col" style="width: 10px;"> 
                            <img [src]="foto.urlFoto" class="image"/>  
                        </div> 
                    </div>                            
                    <div class="row">                             
                        <div class="" data-field="textarea" data-maxlength="500" data-dir-attribute="auto">
                            {{step.descripcion}}
                        </div>
                    </div>                            
                </div>       
            </div> -->
    </div>