.viewrecipecontainer{
   display: flex;// esto siempre
   flex-direction: column; // esto siempre en paralelo o no
   align-items: center;
   justify-content: center;
}

.viewrecipe-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100vh;
}

.container-info {
 //  height: 33vh;
}

.container-ingredients {   
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
 //  height: 4vh;
}

.ingredient{
   padding: 8px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.container-steps {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 //  height: 63vh;
   justify-content: space-around;
}

.container-image-steps {
   width: 100%;
   max-width: 100%;
   display: flex;
   flex-direction: row;
}

.step-item {
   margin-left: 5%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.container-image {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}